  body {
            background-color: #f7e088;
            font-family: 'Arial', sans-serif;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .login-container h1 {
            font-weight: bold;
            margin-bottom: 30px;
        }

        .form-control {
            margin-bottom: 20px;
            border-radius: 50px;
        }

        .btn-entrar {
            background-color: #f7b500;
            border: none;
            color: white;
            padding: 10px 0;
            width: 100%;
            border-radius: 50px;
        }

        .btn-criar-conta {
            background-color: #c82333;
            border: none;
            color: white;
            padding: 10px 0;
            width: 100%;
            border-radius: 50px;
            margin-top: 15px;
        }

        .form-control:focus {
            box-shadow: none;
        }

        .input-group-text {
            background: none;
            border: none;
        }

        .input-group .form-control {
            border-left: none;
        }